   
  /*
   * Garges-Les-Gonesse
   * 01.06.2026
   */



   /* ------------------------------
           DARK MODE AUTOMATIQUE
        ------------------------------ */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
             
            line-height: 1.6;
            background: #474e5d; /* #121212; */
            color: #e5e5e5;
			/* Fixer le footer */
			min-height:100vh !important;
			display:flex;
			flex-direction:column;
        }
		
		.contenu{
		   padding: 55px 20px 20px 20px;
		   /* Fixer le footer */
		   flex:1; /* occupe toute la hauteur disponible  */ 
		}

        h1 {
            text-align: center;
            margin-bottom: 30px;
        }

        .section {
            background: #1e1e1e;
            padding: 20px;
            margin-bottom: 25px;
            border-radius: 8px;
            border-left: 6px solid #0078D7;
        }

        .accordion-title {
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
            padding: 10px 0;
        }

        .accordion-content {
            display: none;
            margin-top: 10px;
        }

        .task {
            display: flex;
            align-items: center; /* voir MDN Web Docs(developer.mozilla.org) et www.w3schools.com/cssref/css3_pr_align-items.php    */ 
            margin: 8px 0;
			/* Mettre le .script en bas */
			flex-wrap:wrap; /* 📌 Possibilité d'aller à la ligne - contrairement à nowrap*/
        }		
        .task input {
            margin-right: 10px;
            transform: scale(1.3);
        }
		.task .script {
            width:100%; /*  📌 Obligé d'aller à la ligne */
			margin:1em auto 2em  0; 
			padding:0;
			box-shadow:
				0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
				0px 2px 2px 0px rgba(255, 255, 255, 0.5);
			border:none; /* border:1px solid #8c8b8b; */ 
			border-radius: 7px; 	
            background:#555;
		}
		pre{
		 /* Pourquoi !important? à cause de prisme qui l'a prédefini */
		  margin:0 !important; 
		  border-radius:40px !important; /* 50px */
		}
		.script img{
			width:100%; 
			border-radius:inherit;
		}
		footer{
		   width:100%;

		}
		
		

        /* ------------------------------
           RESPONSIVE
        ------------------------------ */
        @media (max-width: 600px) {
            .contenu {
                padding: 10px;
            }
            .section {
                padding: 15px;
            }
        }